body {
    background-color: #04090d;
}

text {
    background-color: #57ac60;
}

hr {
    color: green;
}

.card-body {
    background-color: #30323c;
}


.card-header {
    background-color: #1d1f22;
}

.card-footer {
    background-color: #1d1f22;
}

.btn {
    background-color: #30323c;
}

.zzz {
    background-color: ;
}

.uuu {
    background-color: ;
}