:root {
    --color-one: #dd6e42;
    --color-two: #e8dab2;
    --color-three: #4f6d7a;
    --color-four: #c0d6df;
    --color-five: #eaeaea;
}

.card-header, .card-footer {
    background-color: var(--color-four);
    font-weight: bold;
}

.card-body {
    background-color: var(--color-five);
}

button {
    background-color: var(--color-one);
    font-weight: bold;
}

/*body {*/
/*    background-color: var(--color-three);*/
/*    font-family: Arial, Ubuntu, sans-serif;*/
/*}*/

body, html {
    background: linear-gradient(to top, var(--color-two) 15%, var(--color-one) 150%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.card, .btn, .navbar {
    box-shadow: 5px 0px 30px slategrey;
}

.btn {
    background-color: var(--color-three);
    font-weight: bold;
    animation: infinite;
    color: var(--color-two);
}

body {
    font-family: "Euphemia UCAS", "Arial", "Ubuntu", sans-serif;
}

.card:hover img {
    animation: moveSlideshow 3s linear;
    animation-fill-mode: forwards;
}