:root {
    --color-one: #dd6e42;
    --color-two: #e8dab2;
    --color-three: #4f6d7a;
    --color-four: #c0d6df;
    --color-five: #eaeaea;
}

.header, footer {
    border-radius: 0;
    box-shadow: 1 1 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--color-four);
    color: var(--color-three);
    font-weight: bold;
}

.xyz {
    color: var(--color-three);
    font-weight: bold;
}

.card-title {
    color: var(--color-one);
    font-weight: bold;
}

.scroll-bg {
    background-color: transparent;
}

.card-body {
    background-color: var(--color-five);
}

.footer {
    padding-top: 1rem;
    background: var(--color-four);
}

.btn {
    background-color: var(--color-two);
    color: var(--color-three);
    font-weight: bold;
}
/*button {*/
/*    background-color: var(--color-two);*/
/*    color: var(--color-three);*/
/*    font-weight: bold;*/
/*}*/

.col-12 {
    background-color: transparent;
}

body, html {
    background: linear-gradient(45deg, var(--color-one), var(--color-two), var(--color-three), var(--color-four), var(--color-five));
    animation: infinite;
    animation-fill-mode: forwards;
}

.card, .btn, .navbar {
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.header {
    background-color: var(--color-four);
    color: var(--color-three);
    font-weight: bold;
}

/*.btn {*/
/*    background-color: var(--color-five);*/
/*    font-weight: bold;*/
/*    animation: infinite;*/
/*    color: var(--color-three);*/
/*    animation-fill-mode: forwards;*/
/*    border: 1px solid var(--color-three);*/
/*}*/

body {
    font-family: "Euphemia UCAS", "Arial", "Ubuntu", sans-serif;
}

/*.card:hover img {*/
/*    transform: scale(1.1);*/
/*    transition: 0.5s;*/
/*    animation: infinite;*/
/*    animation-fill-mode: forwards;*/
/*}*/