<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">

  <hr class="my-4"/>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Developers</span>
          </li>
          <li class="nav-item">
            <h6 style="padding-top: 10px">John-Michael Krsak</h6>
          </li>
          <li class="nav-item">
            <h6>Alvin Mckenzie</h6>
          </li>
          <li class="nav-item">
            <h6>Ethan Gonzalez</h6>
          </li>
          <li class="nav-item">
            <h6>Josef Fussell</h6>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Github</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.github.com/jmkrsak" style="padding-left: 0px; padding-right: 0px">John's Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.github.com/AlvinMckenzie" style="padding-left: 0px; padding-right: 0px">Alvin's Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.github.com/ethangonzalez77" style="padding-left: 0px; padding-right: 0px">Ethan's Github</a>
          </li>
          <li>
            <a class="nav-link" href="https://www.github.com/joseffussell" style="padding-left: 0px; padding-right: 0px">Josef's Github</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Linkedin Profiles</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/john-michael-krsak/" style="padding-left: 0px; padding-right: 0px; padding-top: 4px">John's Linkedin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/alvin-mckenzie-697324133/" style="padding-left: 0px; padding-right: 0px">Alvin's Linkedin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/ethan-gonzalez-a0a0a2234/" style="padding-left: 0px; padding-right: 0px">Ethan's Linkedin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/josef-fussell-272610257/" style="padding-left: 0px; padding-right: 0px">Josef's Linkedin</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-6 footer-column">
        <ul class="nav flex-column d-flex flex-wrap justify-content-between">
          <li class="nav-item">
            <span class="footer-title">Developer Emails</span>
          </li>
          <li class="nav-item">
            <a onclick="copyToClipboard('jmkrsak@gmail.com')" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px">John's Email</a>
          </li>
          <li class="nav-item">
            <a onclick="copyToClipboard('alvinamckenzie@gmail.com')" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px">Alvin's Email</a>
          </li>
          <li class="nav-item">
            <a onclick="copyToClipboard('ethan.gonzalez00774@gmail.com')" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px">Ethan's Email</a>
          </li>
          <li class="nav-item">
            <a onclick="copyToClipboard('josef.k.fussell@gmail.com')" style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px">Josef's Email</a>
          </li>
        </ul>

        <script>
          function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
                    .then(() => console.log('Copied to clipboard'))
                    .catch((err) => console.error('Error copying to clipboard:', err));
          }
        </script>
      </div>
    </div>
  </div>
  </div>
</footer>
</html>