<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{partials/header.html :: header}"></th:block>


<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/login"><span class="orangeLine">ChoreMore</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li type="hidden">
                </li>
            </ul>
            <form th:action="@{/logout}" method="post" style="display: inline-block" sec:authorize="isAuthenticated()">
                <button sec:authorize="isAuthenticated()" id="logout" class="btn btn-danger" type="submit">Logout
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="container"  style="padding-top: 70px; padding-bottom: 70px">
    <div class="row content">
        <div class="col-12 col-md-4 screen" style="height: 600px">
            <div class="overflow-auto mh-100">
                <div class="scroll-bg">
                    <h5 class="card-title text-center">Sub-Accounts</h5>
                    <div class="container">
                        <div th:each="item : ${avatars}" class="card mt-3">
                            <div class="container header pt-3">
                                <p th:text="${item.child.getUsername()}"/>
                            </div>
                            <div class="card-body">
                                <div th:if="${!item.imageString.isEmpty()}" class="container-fluid">
                                    <img class="responsive img-thumbnail" style="border-radius: 50%;" width="100%" height="auto" th:src="'data:image/jpeg;base64,'+${item.imageString}"/>
                                </div>
                            </div>
                            <div class="container footer pb-3">
                                <form class="d-flex justify-content-center" th:action="@{/deletechildPro}" th:method="POST">
<!--                                    <button name="button" th:value="${item.id}" type="submit" class="btn btn-danger w-50 avatar" data-tooltip="Delete Sub-Account"><i class="bi bi-trash-fill"></i></button>-->
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 d-flex align-items-center justify-content-center mt-3 w-100">
                            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#example">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" style="height: 600px">
            <div class="overflow-auto mh-100">
                <div class="scroll-bg">
                    <h5 class="card-title text-center">Chores</h5>
                    <div class="container">
                        <div th:each="item : ${chores}" class="card mt-3">
                            <div class="container header pt-3 d-flex">
                                <div class="me-auto">
                                    <p class="xyz" th:text="${item.title}"/>
                                    <p class="xyz" th:text="'\'' + ${item.getStatus()} + '\''"/>
                                </div>
                                <div th:if="${!item.child.avatar.imageString.isEmpty()}">
                                    <img class="responsive img-thumbnail" style="border-radius: 50%; float: right;" width="60px" height="auto" th:src="'data:image/jpeg;base64,'+${item.child.avatar.imageString}"/>
                                </div>
                                <div>
                                    <span th:style="'background-color:' + (${item.getStatus()} == 'Complete' ? 'green' : 'red') + '; height: 25px; width: 25px; border-radius: 50%; display: inline-block;'" data-tooltip="status"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <p th:text="'This chore is assigned to: \'' + ${item.child.getUsername()} + '\''"/>
                                <p th:text="${item.body}"/>
                                <p th:text="'This chore is worth ' + ${item.value} + ' exp.'" class="xyz" />
                            </div>
                            <div class="container footer pb-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-success w-25 avatar" data-tooltip="Edit this chore" data-bs-toggle="modal" th:data-bs-target="'#' + ${item.id}"><i class="bi bi-pencil-fill"></i></button>
                                <form th:if="${item.getStatus() == 'Complete'}" class="w-25" th:action="@{/approvedPro}" th:method="POST">
                                    <button name="buttonpro" th:value="*{item.id}" type="submit" class="btn btn-warning w-100 avatar" data-tooltip="Sign off task"><i class="bi bi-check-lg"></i></button>
                                </form>
                                <form class="w-25" th:action="@{/deletechorePro}" th:method="POST">
                                    <button name="button" th:value="${item.id}" type="submit" class="btn btn-danger w-100 avatar" data-tooltip="Delete this chore"><i class="bi bi-trash-fill"></i></button>
                                </form>
                            </div>
                            <div class="modal fade" th:id="${item.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <form th:action="@{/editchorePro}" th:method="POST" th:object="${chore}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="fw-bold">Edit Chore</p>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="edittitle" class="form-label">Edit title</label>
                                                    <input th:field="*{title}" name="title" type="text"
                                                           class="form-control" id="edittitle"
                                                           th:placeholder="${item.title}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="editbody" class="form-label">Edit body</label>
                                                    <textarea th:field="*{body}" name="body" class="form-control"
                                                              id="editbody" th:placeholder="${item.body}"
                                                              rows="5" required></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="fw-bold">Select a users to assign a chore
                                                        to:</label>
                                                    <select class="form-select" name="option"
                                                            aria-label="Disabled select example" required>
                                                        <option selected disabled>Select user</option>
                                                        <div th:each="item : ${avatars}">
                                                            <option th:value="${item.child.id}"
                                                                    th:text="${item.child.getUsername()}"/>
                                                        </div>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="value" class="form-label">Enter value on scale
                                                        1-5</label>
                                                    <input th:field="*{value}" type="range" class="value form-range"
                                                           min="1" max="5" id="value" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" name="editThis" th:value="${item.id}"
                                                        class="btn btn-primary" data-bs-dismiss="modal">Submit edit
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex align-items-center justify-content-center mt-3 w-100">
                            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" style="height: 600px">
            <div class="overflow-auto mh-100">
                <div class="scroll-bg">
                    <h5 class="card-title text-center">Messages</h5>
                    <div class="container">
                        <div th:each="item : ${messages}" class="card mt-3">
                            <div class="container header pt-3 d-flex">
                                <div class="me-auto">
                                    <p class="xyz" th:text="${item.title}" />
                                    <p class="xyz" th:if="${#authentication.principal.id != item.child.id}" th:text="'Author: ' + ${item.child.username}" />
                                </div>
                                <div>
                                    <img class="responsive img-thumbnail" style="border-radius: 50%; float: right;" width="60px" height="auto" th:src="'data:image/jpeg;base64,'+${item.child.avatar.imageString}"/>
                                </div>
                            </div>
                            <div class="card-body">
                                <p th:text="${item.body}" />
                            </div>
                            <div class="container footer pb-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:action="@{/createchore}" th:method="POST" th:object="${chore}">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="fw-bold">Create a chore</p>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="color: red" th:if="${param.error}">
                        All fields must be filled in
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Enter title</label>
                        <input th:field="*{title}" name="title" type="text" class="form-control" id="title" placeholder="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Enter chore here</label>
                        <textarea th:field="*{body}" name="body" class="form-control" id="body" rows="5" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="fw-bold">Select a users to assign a chore to:</label>
                        <select class="form-select" name="option" aria-label="Disabled select example" required>
                            <option selected disabled>Select user</option>
                            <div th:each="item : ${avatars}">
                                <option th:value="${item.child.id}" th:text="${item.child.getUsername()}" />
                            </div>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="value" class="form-label">Enter difficulty value(1 - 5)</label>
                        <input th:field="*{value}" type="range" class="value form-range" min="1" max="5" id="value" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit Post</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="registration-form" onsubmit="validateForm()" th:action="@{/avatar-creation}" th:method="POST" th:object="${user}">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="fw-bold">Create child</p>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div style="color: red" th:if="${param.error}">
                            Invalid Username
                        </div>
                        <label for="username" class="form-label">Enter username</label>
                        <input type="text" placeholder="username" name="username" class="form-control" id="username" th:field="*{username}" required />
                        <span id="username-error" style="color: red;"></span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Enter password</label>
                        <input type="password" placeholder="password" class="form-control" name="password" id="password" th:field="*{password}" required />
                        <div id="password-requirements">
                            Password must contain at least 1 capital letter, 1 number, be at least 8 characters, and no more than 16 characters.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button id="modalBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="~{partials/footer.html :: footer}"></th:block>

<script>

    function validateForm() {

        const username = document.getElementById("username").value;
        const isUsernameTaken = checkUsername(username);
        const usernameError = document.getElementById("username-error");
        const dismissModal = document.getElementById("modalBtn");

        if (isUsernameTaken) {

            usernameError.style.display = "block";

            return false;

        } else {

            usernameError.style.display = "none";
            dismissModal.setAttribute("data-bs-dismiss", "modal");

        }

        return true;

    }

    function checkUsername(username) {

        return fetch(`/check-username?username=${username}`).then(function(response) {
            return response.json().then(function(data) {
                return data.exists;

            });

        });

    }

    const registrationForm = document.getElementById('registration-form');
    const usernameInput = document.getElementById('username');
    const usernameError = document.getElementById('username-error');

    registrationForm.addEventListener('submit', function(event) {

        event.preventDefault();

        const username = usernameInput.value;

        Promise.all([checkUsername(username)]).then(function(results) {

            const usernameExists = results[0];

            if (usernameExists) {

                usernameError.textContent = 'Username already taken.';

            } else {

                usernameError.textContent = '';

            }

            if (!usernameExists) {

                registrationForm.submit();

            }

        });

    });

    const passwordInput = document.getElementById("password");
    const passwordRequirements = document.getElementById("password-requirements");

    passwordInput.addEventListener("input", function() {

        const password = passwordInput.value;
        const hasCapital = /[A-Z]/.test(password);
        const hasNumber = /\d/.test(password);
        const isLengthValid = password.length >= 8 && password.length <= 16;

        if (hasCapital && hasNumber && isLengthValid) {

            passwordInput.setCustomValidity("");
            passwordRequirements.style.color = "green";

        } else {

            passwordInput.setCustomValidity("Invalid password");
            passwordRequirements.style.color = "red";

        }

    });

</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

</body>
</html>