<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChoreMore</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/level-up.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Josefin+Sans&display=swap');
    </style>
    <script src="/js/index.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var pageTitle = document.title;
            var path = window.location.pathname;
            var pageName = path.split('/').pop();
            if (pageName !== '') {
                document.title = pageName + ' | ' + pageTitle;
            }
        });
    </script>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/login"><span class="orangeLine">ChoreMore</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/profile"><span class="orangeLine">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/chore-manager"><span class="orangeLine">Manager</span></a>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post" style="display: inline-block" sec:authorize="isAuthenticated()"><button sec:authorize="isAuthenticated()" id="logout" class="btn btn-danger" type="submit">Logout</button></form>
        </div>
    </div>
</nav>

<div class="container"  style="padding-top: 70px">
    <div class="row content">
        <div class="col-12 col-md-4 mt-3 screen" style="height: 600px">
            <div class="overflow-auto mh-100">
                <div class="scroll-bg">
                    <h5 class="card-title text-center">Sub-Accounts</h5>
                    <div class="container">
                        <div th:each="item : ${users}" class="card mt-3">
                            <div class="container header pt-3">
                                <p class="xyz" th:text="${item.username}" />
                            </div>
                            <div class="card-body">
                                <div th:if="${!item.avatar.imageString.isEmpty()}" class="container-fluid">
                                    <img class="responsive img-thumbnail" style="border-radius: 50%;" width="100%" height="auto" th:src="'data:image/jpeg;base64,'+${item.avatar.imageString}"/>
                                </div>
                            </div>
                            <div class="container footer pb-3">
                                <form th:action="@{/deletechild}" th:method="POST">
                                    <button name="button" th:value="${item.id}" type="submit" class="btn btn-danger w-100 avatar" data-tooltip="Delete Sub-Account">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 d-flex align-items-center justify-content-center" style="height: 600px;">
            <button type="button" class="btn btn-primary" style="height: 75px; width: 300px" data-bs-toggle="modal" data-bs-target="#exampleModal">Create new sub-account
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:action="@{/avatar-creation}" th:method="POST" th:object="${user}">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="fw-bold">Create child</p>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Enter username</label>
                        <input type="text" placeholder="username" name="username" class="form-control" id="username" th:field="*{username}" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Enter password</label>
                        <input type="password" placeholder="password" class="form-control" name="password" id="password" th:field="*{password}" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="~{partials/footer.html :: footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</body>
</html>