<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{partials/header.html :: header}"></th:block>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="orangeLine">Navbar</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/child-profile"><span class="orangeLine">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/chores-view"><span class="orangeLine">Chores</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/message-board"><span class="orangeLine">Message Board</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/battle-arena"><span class="orangeLine">Battle Arena</span></a>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post" style="display: inline-block" sec:authorize="isAuthenticated()"><button sec:authorize="isAuthenticated()" id="logout" class="btn btn-danger" type="submit">Logout</button></form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row content">
        <div class="col-12 col-md-4 mt-3 screen sticky-md-top">
            <h2 class="card-title text-center">Your Avatar</h2>
            <div class="container">
                <div class="card mt-3">
                    <div class="container header pt-3">
                        <p th:text="${#authentication.principal.username}" class="xyz"></p>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <img class="responsive img-thumbnail" style="border-radius: 50%;" width="100%" height="auto" th:src="'data:image/jpeg;base64,'+${contentImage}"/>
                        </div>
                    </div>
                    <div class="container footer pb-3">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 mt-3 mb-3">
            <h2 class="card-title text-center">Skills Builder</h2>
            <div class="container mb-3">
                <div th:object="${avatar}" class="card mt-3">
                    <input type="hidden" th:value="${avatar.hp}" id="hp" />
                    <input type="hidden" th:value="${avatar.strength}" id="str" />
                    <input type="hidden" th:value="${avatar.defense}" id="def" />
                    <input type="hidden" th:value="${avatar.classType}" id="classType" />
                    <div class="container header pt-3 d-flex justify-content-between">
                        <p class="xyz" th:text="'Lvl: ' + ${avatar.getLevel()}"/>
                        <p class="xyz" th:text="'Exp: ' + ${avatar.getExp()}"/>
                        <p class="xyz" th:text="'Exp to lvl up: ' + ${10 - avatar.getExp()}"/>
                        <p class="xyz" th:text="'Build Points: ' + ${avatar.getBuild_points()}"  data-tooltip="Available build points"/>
                    </div>
                    <div class="card-body d-flex justify-content-around">
                        <form th:action="@{/hpplus}" th:method="POST">
                            <div   data-tooltip="Increase health">
                                <p class="text-center" th:text="'HP: ' + ${avatar.getHp()}"/>
                                <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i></button>
                            </div>
                        </form>
                        <form th:action="@{/strengthplus}" th:method="POST">
                            <div   data-tooltip="Increase strength">
                                <p class="text-center" th:text="'STR: ' + ${avatar.getStrength()}"/>
                                <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i></button>
                            </div>
                        </form>
                        <form th:action="@{/defenseplus}" th:method="POST">
                            <div   data-tooltip="Increase defense">
                                <p class="text-center" th:text="'DEF: ' + ${avatar.getDefense()}"/>
                                <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="container footer pb-3 avatar" data-tooltip="or i can target this and explain how these buttons work">
                        <p></p>
                    </div>
                </div>
            </div>
            <h2 class="card-title text-center">Skills Graph</h2>
            <div class="container d-flex justify-content-center">
                <div class="card mt-3">
                    <div class="container header pt-3">
                        <p class="xyz">Current skills buildout</p>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="container footer pb-3 avatar" data-tooltip="or i can target this and explain how these buttons work">
                        <p></p>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    let str = document.getElementById('str');
    let hp = document.getElementById('hp');
    let def = document.getElementById('def');
    let classType = document.getElementById('classType');

    if (classType.value === "warrior") {
        classType = "blue"
    } else if (classType.value === "mage") {
        classType = "red"
    } else if (classType.value === "fairy") {
        classType = "green"
    } else if (classType.value === "undead") {
        classType = "purple"
    } else if (classType.value === "dwarf") {
        classType = "brown"
    }

    let max = Math.max(hp.value, str.value, def.value);

    const data = {
        labels: [
            'HP',
            'Strength',
            'Defense',
        ],
        datasets: [{
            label: 'Stat Build',
            data: [hp.value, str.value, def.value],
            fill: true,
            backgroundColor: 'rgba(236,78,78,0.66)',
            borderColor: classType,
            pointBackgroundColor: classType,
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: classType
        }]
    };

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'radar',
        data: data,
        options: {
            scales: {
                r: {
                    angleLines: {
                        display: false
                    },
                    suggestedMin: 0,
                    suggestedMax: max
                }
            },
            elements: {
                line: {
                    borderWidth: 3
                }
            }
        },
    });

</script>

<th:block th:replace="~{partials/footer.html :: footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</body>
</html>